@import '../../components/variables';

.App {
  max-height: 100vh;
  overflow: auto;

  > :not(:last-child) {
    min-width: @max-width;
  }

  > .ant-carousel {
    .slick-dots {
      bottom: 30px;
      height: 12px;

      li {
        margin: 0 5px;

        button {
          width: 12px !important;
          height: 12px;
          border-radius: 6px;
        }
      }
    }
  }

  > footer {
    background:rgba(58,58,58,1);

    > div {
      width: @max-width;
      height: 120px;
      margin: 0 auto;
      padding: 30px 0 30px 30px;
      line-height: 24px;

      > div {
        display: inline-block;
        color: white;
        vertical-align: top;
      }

      > :first-child {
        margin-right: 36px;

        > :last-child {
          margin-top: 7px;
        }
      }

      > :nth-child(2) {
        margin-top: -6px;
      }

      > :last-child {
        float: right;
        margin-top: -10px;

        > :last-child {
          display: inline-block;
          vertical-align: top;
          font-size: 12px;
          margin-left: 20px;
          margin-top: 23px;
          line-height: 18px;
        }
      }
    }
  }

  > [data-role='extra'] {
    position: fixed;
    right: 27px;
    bottom: 80px;

    > div {
      width: 40px;
      height: 40px;
      background: rgba(124,132,142,1);
      border-radius: 4px;
      text-align: center;
      padding-top: 8px;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 3px;
      }

      &:hover {
        background-color: rgba(0, 164, 255, 1);
      }

      &:first-child:hover,
      &:nth-child(2):hover {
        > div {
          display: block !important;
          position: absolute;
          top: 0;
          right: 43px;
          width: 147px;
          height: 126px;
          background:rgba(255,255,255,1);
          box-shadow:0 8px 16px 0 rgba(100, 181, 255, 0.3);
          color: rgba(102, 102, 102, 1);
          cursor: default;
        }
      }

      &:first-child:hover > div {
        text-align: left;
        padding: 19px 20px 0 12px;

        > :nth-child(2) {
          margin-bottom: 20px;
        }
      }

      &:nth-child(2):hover > div {
        padding-top: 5px;
        font-size: 12px;
      }

      &:last-child:hover {
        padding-top: 2px;
        line-height: 18px;

        &::before {
          display: block;
          white-space: pre;
          content: '返回\A顶部';
          font-size: 12px;
          color: white;
        }

        img {
          display: none;
        }
      }
    }
  }
}