@import '../variables';

.Block {
  padding-bottom: 56px;

  > div {
    text-align: center;

    > h1 {
      font-size: 36px;
      margin: 0;
      padding-top: 49px;
      padding-bottom: 31px;
      font-weight: normal;
      color: #333;
    }

    > h2 {
      font-size:16px;
      color: rgba(102,102,102,1);
      margin-top: -27px;
      margin-bottom: 35px;
      font-weight: normal;
    }

    > .Block-list > div {
      display: inline-block;
      vertical-align: top;
    }
  }
}

@media screen and (min-width: @screen-lg-min) {
  .Block {
    > div {
      width: @screen-middle;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: @screen-sm-max) {
  .Block {
    > div {
      > h1 {
        font-size: 24px;
        padding-top: 22px;
        padding-bottom: 15px;
      }

      > h2 {
        font-size: 14px;
        margin-top: -14px;
        margin-bottom: 11px;
      }
    }
  }
}
