@import '../variables';

.Block {
  > div {
    text-align: center;

    > h1 {
      margin: 0;
      font-weight: normal;
      color: #333;
    }

    > h2 {
      color: rgba(102, 102, 102, 1);
      font-weight: normal;
    }

    > .Block-list > div {
      display: inline-block;
      vertical-align: top;
    }
  }
}

@media screen and (min-width: @screen-lg-min) {
  .Block {
    > div {
      width: @screen-middle;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: @screen-md-min) {
  .Block {
    padding-bottom: 56px;

    > div {
      > h1 {
        font-size: 36px;
        padding-top: 49px;
        padding-bottom: 31px;

        &[data-small='true'] {
          font-size: 30px;
        }
      }

      > h2 {
        font-size: 16px;
        margin-top: -27px;
        margin-bottom: 35px;
      }
    }
  }
}

@media screen and (max-width: @screen-lm-max) {
  .Block {
    padding-bottom: 30px;

    > div {
      > h1 {
        font-size: 24px;
        padding-top: 22px;
        padding-bottom: 15px;

        &[data-small='true'] {
          font-size: 21px;
        }
      }

      > h2 {
        font-size: 14px;
        margin-top: -14px;
        margin-bottom: 11px;
      }
    }
  }
}
