@import '../../components/variables';

.ProductEPLD {
  h1 {
    font-size: 30px !important;
  }

  [data-role='banner'] {
    height: 350px;

    > :first-child {
      padding-top: 88px;
      font-size: 36px;
      font-weight: bold;
    }

    > :last-child {
      padding-top: 30px;
      width: 596px;
      font-size: 16px;
      line-height: 26px;
    }
  }

  > [data-role='tongdian'] {
    .Block-list {
      background: url(/imgs/epld/tongdian.png) no-repeat;

      > div {
        width: 236px;

        &:not(:last-child) {
          border-right: solid 1px white;
        }

        > :first-child {
          height: 50px;
          line-height: 50px;
          font-size: 20px;
          color: white;
        }

        > ul {
          height: 121px;
          padding: 18px 34px 0 29px;
          background-color: #FBFBFB;
          color: #666;
        }
      }
    }
  }

  > [data-role='analysis'] {
    background-color: #F4FAFF;

    .Block-list > div {
      width: 580px;
      height: 80px;
      line-height: 80px;
      text-align: left;
      background: white;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      color: #333;
      font-size: 16px;

      &:nth-child(1) {
        margin-right: 20px;
        margin-bottom: 20px;
      }

      &:nth-child(2) {
        margin-bottom: 20px;
      }

      &:nth-child(3) {
        margin-right: 20px;
      }

      > :first-child {
        margin-left: 30px;
        margin-right: 20px;
      }
    }
  }

  > [data-role='advantage'] {
    padding-bottom: 36px;

    .Block-list > div {
      width: 280px;
      height: 430px;
      background-color: #FBFBFB;
      padding: 40px 31px 0;
      margin-right: 20px;
      margin-bottom: 20px;
      position: relative;

      &:nth-child(4n) {
        margin-right: 0;
      }

      > :first-child > img:last-child {
        display: none;
      }

      > :nth-child(2) {
        margin-top: 29px;
        font-size: 18px;
      }

      > :last-child {
        position: absolute;
        top: 186px;
        left: 31px;
        right: 31px;

        > div {
          line-height: 0;
          margin-bottom: 14px;

          > i {
            display: inline-block;
            width: 28px;
            height: 2px;
            background: linear-gradient(to right, #4857EF, #1DADF8);
            vertical-align: top;
          }
        }
      }

      &:hover {
        background-color: @primary-color;
        color: white;
        box-shadow:0 8px 16px rgba(100, 181, 255, 0.3);

        > :first-child {
          > img:first-child {
            display: none;
          }

          > img:last-child {
            display: inline-block;
          }
        }

        > :last-child {
          > div > i {
            background: white;
          }
        }
      }
    }
  }

  > [data-role='architecture'] {
    background-color: #F4FAFF;

    > div > div {
      background-color: white;
      padding: 39px 40px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
  }

  .Solution-tab {
    > :first-child > div {
      display: inline-block;
      vertical-align: top;
      width: 180px;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 20px;
      }

      > :last-child > span {
        display: inline-block;
        vertical-align: top;
        height: 58px;
        line-height: 58px;
        font-size: 16px;
      }

      &[data-active='true'] > :last-child > span {
        color: @primary-color;
        border-bottom: 2px solid @primary-color;
      }

      &:hover > :last-child > span {
        color: @primary-color;
      }
    }

    > :last-child {
      padding: 20px;
      border: 1px solid #D9E1EB;
      text-align: left;

      > * {
        display: inline-block;
        vertical-align: top;
      }

      > :first-child {
        background-color: #FBFBFB;
        padding: 20px;
      }

      > :last-child {
        width: 368px;
        margin-top: -10px;
        margin-left: 30px;

        > h1 {
          font-size: 22px !important;
          color: black;
        }

        > p {
          line-height: 24px;
          color: #666;
        }

        > h2 {
          font-size: 18px;
          color: black;
        }

        > ul {
          color: #666;
        }
      }
    }
  }
}