@import '../variables';

.Header-menu {
  font-family: 'Microsoft YaHei', sans-serif !important;
  padding: 16px 0;
  margin-top: -5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  color: #333;

  > .ant-dropdown-menu-item {
    padding: 0;

    > a {
      margin: 0;
      padding: 3px 37px;
    }

    &:hover {
      background-color: transparent !important;

      > a {
        color: @primary-color;
      }
    }
  }
}

.Header {
  height: 60px;
  background-color: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: #333;

  a {
    color: #333;
  }

  > div:first-child {
    > a {
      display: inline-block;
      vertical-align: top;
      padding: 15px 0;

      > img {
        width: 150px;
        height: 30px;
      }
    }

    > span {
      float: right;

      > [data-role='item'] {
        display: inline-block;
        cursor: pointer;
        line-height: 58px;
        height: 60px;
        margin: 0 15px;

        &:hover,
        &.Header-item-hover {
          color: @primary-color;
          border-bottom: 2px solid @primary-color;
        }
      }
    }

    > img {
      display: none;
      float: right;
      margin-top: 21px;
      margin-right: 10px;
      cursor: pointer;
      width: 18px;
      height: 18px;
    }

    > div {
      position: fixed;
      top: 60px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2);

      > ul {
        background-color: #FBFBFB;

        .ant-menu-sub {
          background-color: #FBFBFB;
        }

        .ant-menu-item > a {
          color: #666 !important;
        }

        > li {
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          padding-left: 15px !important;

          &:not(:last-child) {
            border-bottom: 1px solid #D9E1EB;
          }
        }

        .ant-menu-submenu {
          padding-left: 0 !important;

          > .ant-menu-submenu-title {
            margin-top: 0;
            margin-bottom: 0;
            color: #666;
            padding-left: 15px !important;

            &[aria-expanded='true'] {
              border-bottom: 1px solid #D9E1EB;
              color: @primary-color;
            }

            > .ant-menu-submenu-arrow {
              width: 18px;
              right: 22px;

              &::before {
                transform: rotate(-45deg) translateX(5px);
              }

              &::after {
                transform: rotate(45deg) translateX(-5px);
              }

              &::before,
              &::after {
                width: 10px;
                height: 1px;
                background: #7c848e;
              }
            }
          }

          > ul {
            padding-left: 30px;
            background-color: #F3F3F3;

            > li {
              padding-left: 0 !important;
              margin-top: 0 !important;
              margin-bottom: 0 !important;

              &:not(:last-child) {
                border-bottom: 1px solid #D9E1EB;
              }
            }
          }

          &.ant-menu-submenu-open > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
            &::before {
              transform: rotate(45deg) translateX(5px);
            }

            &::after {
              transform: rotate(-45deg) translateX(-5px);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: @screen-lg-min) {
  .Header {
    > div {
      width: @screen-middle;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: @screen-lm-max) {
  .Header {
    > div:first-child {
      > span {
        display: none;
      }

      > img {
        display: inline-block;
      }
    }
  }
}